<div class="page-title">
    <h1><?php echo $this->__('Weather check history'); ?></h1>
</div>

<form class="filters" action="" method="GET">
    <div class="city-filter weather-history-filter">
        <span class="filter-label"><?php echo $this->__('City'); ?> </span>
        <input type="text" title="City" value="<?php echo $this->getCityPlaceholder(); ?>" name="city" width="200px" />
    </div>
    <div class="data-from weather-history-filter">
        <span class="filter-label"><?php echo $this->__('Data from'); ?> </span>
        <input type="date" value="<?php echo $this->getDateFromPlaceholder(); ?>" title="Date from" name="from" required="required" />
    </div>
    <div class="date-to weather-history-filter">
        <span class="filter-label"><?php echo $this->__('Data to'); ?> </span>
        <input type="date" value="<?php echo $this->getDateToPlaceholder(); ?>" title="Date from" name="to" required="required" />
    </div>
    <button type="submit" title="Search" class="button"><span><?php echo $this->__('Search'); ?></span></button>
    <a href="<?php echo $this->getClearUrl(); ?>">
        <button type="button" title="Clear" class="button">
            <span><?php echo $this->__('Clear'); ?></span>
        </button>
    </a>
</form>

<div class="weather-list">
    <table>
        <thead>
            <tr>
                <th><?php echo $this->__('Date'); ?></th>
                <th><?php echo $this->__('City'); ?></th>
                <th><?php echo $this->__('Weather Summary'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->getWeatherHistory() as $weather): ?>
                <tr>
                    <td data-column="Date"><?php echo $weather->getCreatedAt(); ?></td>
                    <td data-column="City"><?php echo $weather->getCity(); ?></td>
                    <td data-column="Weather Summary">
                        <div class="weather-icons">
                            <?php foreach($weather->getIcons() as $title => $iconUrl): ?>
                                <img class="icon" src="<?php echo $iconUrl; ?>" alt="<?php echo $title; ?>" title="<?php echo $title; ?>" />
                            <?php endforeach; ?>
                        </div>
                    </td>
                    <td data-column="Show">
                        <a href="<?php echo $this->getShowUrl($weather->getId()); ?>"><?php echo $this->__('Show'); ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>