<?php $weather = $this->getWeather(); ?>

<div class="page-title">
    <h1><?php echo $this->__('Weather information') ?></h1>
</div>
<div class="col2-set">
    <div class="box">
        <div class="box-title">
            <h3>#<?php echo $weather->getId(); ?> <?php echo $weather->getCity(); ?> - <?php echo $weather->getCreatedAt(); ?></h3>
            <div class="weather-icons">
                <?php foreach($weather->getIcons() as $title => $iconUrl): ?>
                    <img class="icon" src="<?php echo $iconUrl; ?>" alt="<?php echo $title; ?>" title="<?php echo $title; ?>" />
                <?php endforeach; ?>
            </div>
        </div>
        <div class="box-content weather-info">
            <div class="col-1">
                <p>
                    <b><?php echo $this->__('Current temperature') ;?>: </b>
                    <?php echo $weather->getTemperature(); ?> K
                </p>
                <p>
                    <b><?php echo $this->__('Min temperature') ;?>: </b>
                    <?php echo $weather->getMinTemperature(); ?> K
                </p>
                <p>
                    <b><?php echo $this->__('Max temperature') ;?>: </b>
                    <?php echo $weather->getMaxTemperature(); ?> K
                </p>
                <p>
                    <b><?php echo $this->__('Wind speed') ;?>: </b>
                    <?php echo $weather->getWindSpeed(); ?> m/s
                </p>
            </div>
            <div class="col-2">
                <p>
                    <b><?php echo $this->__('Pressure') ;?>: </b>
                    <?php echo $weather->getPressure(); ?> hPa
                </p>
                <p>
                    <b><?php echo $this->__('Humidity') ;?>: </b>
                    <?php echo $weather->getHumidity(); ?>%
                </p>
                <p>
                    <b><?php echo $this->__('Visibility') ;?>: </b>
                    <?php echo $weather->getVisibility(); ?> m
                </p>
            </div>
        </div>
    </div>
</div>

<a class="weather-to-pdf" href="<?php echo $this->getPdfUrl(); ?>">
    <?php echo $this->__('Download as PDF'); ?>
</a>

<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->getBackUrl(); ?>"><small>« </small>Back</a></p>
</div>