<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span><?php echo $this->__('Check weather for your city'); ?></span></strong>
    </div>
    <div class="block-content">
        <p class="block-subtitle">
            <?php echo $this->__("Fill in your city and we'll give you the latest information about the weather."); ?>
        </p>
        <form action="<?php echo $this->getActionUrl(); ?>" method="POST">
            <div class="input-box">
                <input type="text" name="city" id="city" title="Check weather for your city" class="input-text required-entry" />
            </div>
            <div class="actions">
                <a href="<?php echo $this->getHistoryUrl(); ?>">
                    <button type="button" title="Subscribe" class="button">
                        <span><span><?php echo $this->__('Show History'); ?></span></span>
                    </button>
                </a>
                <button type="submit" title="Subscribe" class="button">
                    <span><span><?php echo $this->__('Check'); ?></span></span>
                </button>
            </div>
        </form>
    </div>
</div>