.weather-icons .icon { float: left; }
.weather-info, .weather-history-filter {
    margin-bottom: 5px;
    clear:both;
}
.weather-history-filter input { width: 200px !important; }
.weather-history-filter span.filter-label {
    width: 75px;
    display: inline-block;
}

.weather-list table {
    width: 100%;
    border-collapse: collapse;
    margin:50px auto;
}

.weather-list tr:nth-of-type(odd) {
    background: #eee;
}

.weather-list th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

.weather-list td, .weather-list th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 12px;
}

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

    .weather-list table {
        width: 100%;
    }

    .weather-list table, .weather-list thead, .weather-list tbody, .weather-list th, .weather-list td, .weather-list tr {
        display: block;
    }

    .weather-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .weather-list tr { border: 1px solid #ccc; }

    .weather-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .weather-list td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}